@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white overflow-hidden;
  }

  html,
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

/* @layer components {
  .container {
    @apply w-11/12 lg:max-w-[80rem] mx-auto;
  }
} */

@layer utilities {
  .shadow_white_purple {
    text-shadow: 0px 3.14px 27px #ffffffb8;
  }

  .hero_resp_title {
    font-size: clamp(1rem, 5vw, 3rem);
  }

  .menu_item_text {
    @apply relative 
    after:h-[0.15rem] 
    after:w-0 
    after:bg-[#4e55ff] 
    after:rounded-full 
    after:absolute 
    after:-bottom-1.5 
    after:left-1/2 
    after:-translate-x-1/2 
    after:transition-all 
    after:ease-in-out 
    after:duration-300;
  }
}
